{% extends "users/templatesignup.html" %}
<!DOCTYPE html>
{% load static %}
<head>
    <title>Only Tutor</title>
<link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
</head>

<html>
<body>
  {% block body %}
  
  <br><br><br><br>
      <h3 style="text-align: center;"> Which account do you want to register ?</h3>
      <br><br>
  
    
      <div style="text-align: center;">
        <a href="{% url 'tutor_register' %}"><input type="button" value="Tutors" ></a>
        <a href="{% url 'student_register' %}"><input type="button" value="Student"></a>
      </div>  
      
  {% endblock %}

</body>
</html>