{% extends "users/templatesignup.html" %}
{% load static %}

{% block body %}
<head>

<title>Demo Registration</title>
<link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
</head>

<h2>Tutor Register</h2><br>
{% load crispy_forms_tags %}
<form action="{% url 'tutor_register' %}" method = "POST" class="form-group">
    {%csrf_token%}
    {{form|crispy}}
    <button type= "submit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green   w3-blue">Register</button>
</form>
{% endblock %}