{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 's_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}
{% block body %}

<style>

div.p {
        margin-top: -35px;
        margin-left: 50px;
        width: 255px;
        padding: 0px;
        border: 2px solid #0e1b22;
        margin-bottom: -30px;
        border-radius: 15px ;
    }


</style>


<br>
<a style="margin-left:1em; font-size: 40px; ">Profile<br></a>
<br><br><br>
    <div class = "p" >
        <img class "profile-pic" src="{{request.user.profile_pic.url}}"width="250"  height="250">
    </div>

<div style="margin-left: 350px ; margin-top: -200px; font-size: 25px;" >
Full Name : {{request.user.first_name}} {{request.user.last_name}}<br>
NickName : {{request.user.nick_Name}}<br>
Age : {{request.user.age}}<br>
Degree : {{ request.user.degree }}<br>
</div>
<br><br><br><br><br>



<a style="margin-left:2%; font-size: 40px; ">My Course</a> 
<br>

    {% for course in courselist %}
    <a style="margin-left:2%;font-size:25px;padding-right:1%;" href="{% url 'course_detail' course.pk %}"><label>{{ course.name }}</label></a><br> 
    <a style="margin-left:3%;font-size:20px;">&#10060;</a>
    <a  style="margin-left:0%;background-color: #56baed;color: white;" class="w3-bar-item w3-button w3-hide-small w3-padding-large" href="{% url 'course_cancel' course.pk %}">Cancel This Course</a> <br>
    <br>
    {% endfor %}
<br>
<a style="margin-left:3em;background-color: #56baed;color: white;" class="w3-bar-item w3-button w3-hide-small w3-padding-large " href="{% url 's_profile_update' %}">Update Profile &#128736;</a>
{% endblock %}