{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 's_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}


{% block content %}
<div style="text-align: center;">
<h1>Update Your Profile</h1> <br>
<form method="post" action= "" enctype = "multipart/form-data">
        {% csrf_token %}
        <h2>First name</h2><br>
        {{u_form.first_name }}<br>
        <h2>Last name</h2><br>
        {{u_form.last_name }}<br>
        <h2>Nick name</h2><br>
        {{u_form.nick_Name }}<br>
        <h2>age</h2><br>
        {{u_form.age }}<br>
        <h2>Degree</h2><br>
        {{u_form.degree }}<br>
        <h2>Profile Picture</h2><br>
        {{u_form.profile_pic}}<br>
    <div style="margin-top:3em">
    <button type="submit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green   w3-blue">Save changes</button>
    <a href="{% url 's_home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-red   w3-blue">Cancel</a>
    </div> 

</form>
</div>
{% endblock %}
