{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 's_profile' %}" class="w3-button  w3-hover-white">&#129299;Profile</a>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <form method="post" action= "" enctype = "multipart/form-data">
        <br><h1>Update your profile</h1>    
        {% csrf_token %}
        
        <h4>First name : {{u_form.first_name }}</h4>
        <h4>Last name : {{u_form.last_name }}</h4>
        <h4>Nickname : {{u_form.nick_Name }}</h4>
        <h4>&emsp;&emsp;&emsp;age : {{u_form.age }}</h4>
        <h4> &emsp; Degree : {{u_form.degree }}</h4>
        
        <h3>Profile Picture</h3>
        {{u_form.profile_pic}}
    <div style="margin-top: 15px;">
        <button type="submit" style="border-radius: 10px;background-color: #56baed;color: rgb(255, 255, 255);" class="w3-button w3-hide-small w3-padding-large">Save changes</button>
        <a href="{% url 't_home' %}" style="border-radius: 10px;background-color: #56baed;color: rgb(255, 255, 255);" class="w3-button w3-hide-small w3-padding-large " >Cancel</a>
    </div> 

</form>
</div>
{% endblock %}
