{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 's_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}

Full Name : {{object.user}}<br>
NickName : {{object.user.nick_Name}}<br>
Age : {{object.user.age}}<br>
Profile : {{object.user.profile}}<br>
Average Star : {{avgstar}}<br>



<br>
{% for review in reviews %}
    {{review.student.first_name}} {{review.student.last_name}} <br>{{review.comment}} {{review.star}}/5<br>
{% endfor %}


{% if request.user.is_student %}
    <form action="{% url 'tutor_comment' object.user.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="comment"  placeholder="Enter Your Comment For This Tutor">
        <input type="int" name="star">
            
            
        <button type="submit">Submit</button>
            
    </form>
{%endif%}
