{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}


{% block content %}
<h1>Course Name : {{ owners.name }}</h1>


<form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
    <button type="submit" style="color: #ffffff; background-color: #56baed; border: #dddddd;" class="btn btn-primary btn-sm ">Save changes</button>
    <a href="{% url 't_home' %}"  style="color: #ffffff; background-color: #56baed; border: #dddddd;" class="btn btn-primary btn-sm ">Cancel</a>
    <a href="{% url 'course_delete' owners.pk %}" style="color: #ffffff; background-color: #ec150e; border: #dddddd;" class="btn btn-primary btn-sm " >Delete</a>
</form>
{% endblock %}