{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}
<br>
<div style="margin-left: 2%;font-size:35px;">
Course Name : {{ object.name }}<br>
Course Detail : {{ object.detail }}<br>
Course Amount : {{ object.amount }}<br>
Course Price : {{ object.price }} Baht/Hr.<br>
</div>
<br><br>
<div style="margin-left:2%;"> 
    <p style="font-size:40px;">Your Student &#127891; </p>
                          
    {% for s in students %}
    
    <a style="font-size:30px;text-decoration:none;margin-left:1.5%;" href="{% url 'student_detail' s.id %}">{{ s.first_name }} {{ s.last_name }}</a>  <br>           
    {% endfor %}
    <br>
    </div>
    <br>
    <a href="{% url 'course_update' object.id %}" style="color: #ffffff; background-color: #56baed; border: #dddddd; margin-left: 2%; " class="btn btn-primary btn-sm w3-large " >Update &#x1F6E0;</a><br><br>
{% endblock %}
