{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}
<div style="margin-left: 2%;">
<h3>Course Name : {{ object.name }}<br></h3>
<h3>Course Detail : {{ object.detail }}<br></h3>
<h3>Course Amount : {{ object.amount }}<br></h3>
<h3>Course Price : {{ object.price }} Baht/Hr.<br></h3>
</div>
<br><br>
<div style="margin-left: 2%"> 
    <h3>Your Student :</h3>
                          
    {% for s in students %}
    
    <li><a href="{% url 'student_detail' s.id %}">{{ s.first_name }} {{ s.last_name }}</a></li>  <br>           
    {% endfor %}
    <br>
    </div>
    <a href="{% url 'course_update' object.id %}" style="color: #ffffff; background-color: #56baed; border: #dddddd; margin-left: 2%; " class="btn btn-primary btn-sm w3-large " >Update &#x1F6E0;</a><br><br>
{% endblock %}
