{% extends "main/layout.html" %}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
 
</style>




{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}

{% block body %}
    <br>
    <h2 style="margin-left:2em;"> Tutor Home </h2>
    <ul>
        <li style="color:black;margin-left:3.5em;font-size:20px; list-style: none;" >Username: {{ request.user.username }}</li>
        <li style="color:black;margin-left:3.5em;font-size:20px; list-style: none;">Name: {{ request.user.first_name }}  {{ request.user.last_name }}</li>
    </ul>


    <a style="margin-left:7em;  color: #ffffff; background-color: #56baed; border: #dddddd;" class="btn btn-primary btn-sm " href="{% url 'make_course' %}">Make Course &#x1F4DA;</a><br>
    <br>
    <table style="margin-left:20%; font-size:18px;">
        <tr height=40px;>
            <th style="text-align:center;background-color:#dddddd;" width=100px;>Course ID</th>
            <th style="background-color:#dddddd;text-align: center;" width=180px;>Course Name</th>
            <th style="background-color:#dddddd;text-align: center;" width=400px;>Course Detail</th>
            <th style="background-color:#dddddd;text-align: center;" width=80px;>Count</th>

        </tr>
       
        {% for course in owners %}
        <tr height=80px;>
            <td style="text-align:center;">{{course.id}}</td>
            <td style="text-align: center;"><a style="text-decoration:none;" href="{% url 't_course_detail' course.pk %}">{{course.name}}</a></td>
            <td>{{course.detail}}</td>
            <td style="text-align: center;">{{course.count}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>


{% endblock %}

