{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}


{% block title %}
<h1> Make course </h1>
{% endblock %}

{% block body %}
<h1> Make course </h1>
<form action="{% url 'make_course' %}" method="post" novalidate>
        {% csrf_token %}
        {{form}}
        <button type="submit" >Save</button>
        <a href="{% url 't_home' %}" >Nevermind</a>
</form>
{% endblock %}