{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}


{% block title %}
<h1> Make course </h1>
{% endblock %}

{% block body %}
<h1> Make course </h1>
<form action="{% url 'make_course' %}" method="post" novalidate>
        {% csrf_token %}
        {{form}}
        <br><button type="submit" style="color: #ffffff; background-color: #56baed; border: #dddddd;" class="btn btn-primary btn-sm " >Save</button>
        <a href="{% url 't_home' %}" style="color: #ffffff; background-color: #cfcfcf; border: #dddddd;" class="btn btn-primary btn-sm w3-hover-black " >Nevermind</a>
</form>
{% endblock %}