

{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}
<br>
<h1 style="margin-left:0.5em;"><b>Profile</b><br></h1>
<br>
<h3 style="margin-left:1.5em;font-size:20px;"><li>Full Name : {{tutor.user}}</li></h3>
<h3 style="margin-left:1.5em;font-size:20px;"><li>NickName : {{tutor.user.nick_Name}}</li></h3>
<h3 style="margin-left:1.5em;font-size:20px;"><li>Age : {{tutor.user.age}}</li></h3>
<h3 style="margin-left:1.5em;font-size:20px;"><li>Profile: {{ tutor.user.profile }}</li></h3>
<h3 style="margin-left:1.5em;font-size:20px;"><li>Average Star : {{avgstar}}</li></h3>
<br>

<a style="margin-left:2%;background-color: #56baed;color: white;" class="w3-bar-item w3-button w3-hide-small w3-padding-large " href="{% url 't_profile_update' %}"><label>Update My Profile</label></a>


<br>
<br>
<h1 style="margin-left:0.75em;font-size:28px;"><b>My Review</b><br></h1><br>
<div style="margin-left:2%">
        
{% for review in reviews %}
<div class="comment fadeInDown" style="text-align: left;">
        <h3 style="margin-top: -1em;">{{review.student.first_name}} {{review.student.last_name}}</h3>{{review.star}}/5<br>
        {{review.comment}}
        <hr>
</div>
{% endfor %}

</div>
{% endblock %}

