{% extends "main/layout.html" %}

{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <form method="post" action= "" enctype = "multipart/form-data">
        <br><h1>Update your profile</h1> <br>
        {% csrf_token %}

        <h4>First name : {{form.first_name }}</h4>
        <h4>Last name : {{form.last_name }}</h4>
        <h4>Nickname : {{form.nick_Name }}</h4>
        <h4>&emsp;&emsp;&emsp;age : {{form.age }}</h4>
        <h4> &emsp; Profile : {{form.profile }}</h4>
        
        <h3>Profile Picture</h3>
        {{form.profile_pic}}<br>
        
    <div style="margin-top:3em">
    <button type="submit" style="border-radius: 10px;background-color: #56baed;color: rgb(255, 255, 255);" class="w3-button w3-hide-small w3-padding-large">Save changes</button>
    <a href="{% url 't_home' %}" style="border-radius: 10px;background-color: #56baed;color: rgb(255, 255, 255);" class="w3-button w3-hide-small w3-padding-large " >Cancel</a>
    </div> 
</form>
</div>
{% endblock %}

        
