{% extends "main/layout.html" %}
{% load static %}



{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-18.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}

<style>
        h1{

                width: 100px;
                position: relative;
        }
    
        h1 div{

                background-color: gold;
                width: 50%;
                position:absolute;
                top:0;
                left:0;
                height: 18px;
                font-size: 20px;
                z-index: 100;
        }
    
        h1 img{

                width: 100%;
                position:absolute;
                top:0;
                left:0;
                z-index:110;
        }
         div.p {

                width: 600px;
                padding: 10px;
                border: 2px solid #56baed;
                margin-bottom: -30px;
                border-radius: 7px ;
        }
        
        div.pic {

                margin-top: -5px;
                margin-left: 50px;
                width: 255px;
                padding: 0px;
                border: 2px solid #0e1b22;
                margin-bottom: -30px;
                border-radius: 15px ;

        }
    
</style>
<br>
<a style="margin-left:1em; font-size: 40px; ">Profile<a style="margin-left:2%;background-color: #56baed;color: white;border-radius: 10px;" class="w3-bar-item w3-button w3-hide-small w3-padding-large " href="{% url 't_profile_update' %}"><label>Update My Profile</label></a></a>
<br><br>
    <div class = "pic" >
        <img style="border-radius: 15px ;" class = "profile-pic" src="{{request.user.profile_pic.url}}"width="250"  height="250">
    </div>

<div style="margin-left: 350px; margin-top: -225px; font-size: 25px;" >
Full Name : {{tutor.user.first_name}} {{tutor.user.last_name}}<br>
NickName : {{tutor.user.nick_Name}}<br>
Age : {{tutor.user.age}}<br>
Profile: {{ tutor.user.profile }}<br>
Average Star : <div style="margin-left: 155px; margin-top: -34px;"><h1><div style= "width:calc(20% * {{ avgstar }})"></div>
        <img src = "{% static 'images/stars.png' %}"  title = "{{avgstar}}">
        </h1></div><br>
</div>

<br><br><br>


<br>
<br>
<u><b class="comment" style=" font-size: 30px; margin-left: 2%;" >My Review</b></u>
<div style="margin-left:2%">
        
{% for review in reviews %}
<div class="comment" style="text-align: left;">
        <p style ="font-weight: bold; font-size: 20px; margin-top: -30px;" >{{review.student.first_name}} {{review.student.last_name}}</p>
        <div style="margin-left: 0px; margin-top: -8px;"><h1><div style= "width:calc(20% * {{ review.star }})"></div>
                <img src = "{% static 'images/stars.png' %}"  title = "{{review.star}}"> </div><br>
        <p style ="font-size : 18px; margin-top: -10px;margin-bottom: 0px;">{{review.comment}}</p>
        <hr>
</div>
{% endfor %}

</div>
{% endblock %}

