{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 't_profile' %}" class="w3-button  w3-hover-white">&#129299;Profile</a>
{% endblock %}
{% block body %}
<style>

    div.p {
            margin-top: -35px;
            margin-left: 50px;
            width: 255px;
            padding: 0px;
            border: 2px solid #0e1b22;
            margin-bottom: -30px;
            border-radius: 15px ;
        }
    
    
    </style>
{% endblock %}
{% block content %}

<a style="margin-left:1em; font-size: 40px; ">Profile<br></a>
<br><br><br>
    <div class = "p" >
        <img style="border-radius: 15px ;" class = "profile-pic" src="{{student.user.profile_pic.url}}"width="250"  height="250">
    </div>

<div style="margin-left: 350px; margin-top: -200px; font-size: 25px;" >
Full Name : {{student.user.first_name}} {{student.last_name}}<br>
NickName : {{student.user.nick_Name}}<br>
Age : {{student.user.age}}<br>
Degree : {{student.user.degree}}<br>
</div>



{% endblock %}