{% extends "main/layout.html" %}
{% block profile %}
<a href="{% url 't_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="margin-left:-11.5em;">&#129299;Profile</a>
{% endblock %}

{% block content %}
<br>
<h1 style="margin-left:0.5em;"><b>Student Profile</b></h1>
<br>
<h3 style="margin-left:1.5em;font-size:32px;">Full Name : {{student.user.first_name}} {{student.last_name}}</h3>
<h3 style="margin-left:1.5em;font-size:32px;">NickName : {{student.user.nick_Name}}</h3>
<h3 style="margin-left:1.5em;font-size:32px;">Age : {{student.user.age}}</h3>
<h3 style="margin-left:1.5em;font-size:32px;">Degree : {{student.user.degree}}</h3>

{% endblock %}