{% extends "main/admin_layout.html" %}

{% block profile %}
<style>
     div.box-1 {
        border: dashed;
        margin-left: 750px;
        margin-right: 750px;
        border-radius: 15px ;
     }
</style>
{% endblock %}





{% block content %}
<br>

<br>
<h1 style=" text-align: center; "><b> Admin Home &#x1F527; </b></h1><br>
<div class ="box-1">
        <br>
        <h3 style=" font-size:34px;font-weight: bold; text-align: center; ">Tutor List </h3>
        <br>
<div style="text-align: center;">
{% for t in tutor %}
        <a style="font-size:28px;text-decoration:none; color: #74d1ff;" href="{% url 'list_comment' t.pk %}" >  &#127891; {{ t.user.first_name }}  {{ t.user.last_name }} ({{ t.user.nick_Name }}) </a><br> 
{% endfor %}
<br>
</div>
</div>


{% endblock %}